@charset "UTF-8";

#wrap {
	width : 1200px;
	height : 800px;
	margin : auto;
}

header {
	height : 80px;
	background-color:rgb(186, 186, 186);
}


footer {
	height : 80px;
	background-color: rgb(186, 186, 186);
}